<div class="box tabular">
  <fieldset class="box">
    <legend><%= l(:label_password_requirements) %></legend>
    
    <p>
      <%= label_tag 'settings[min_length]', l(:label_minimum_length) %>
      <%= number_field_tag 'settings[min_length]', @settings['min_length'], min: 1, max: 50 %>
      <em class="info"><%= l(:text_minimum_length_info) %></em>
    </p>
    
    <p>
      <%= check_box_tag 'settings[require_uppercase]', '1', @settings['require_uppercase'] %>
      <%= label_tag 'settings[require_uppercase]', l(:label_require_uppercase) %>
    </p>
    
    <p>
      <%= check_box_tag 'settings[require_lowercase]', '1', @settings['require_lowercase'] %>
      <%= label_tag 'settings[require_lowercase]', l(:label_require_lowercase) %>
    </p>
    
    <p>
      <%= check_box_tag 'settings[require_numbers]', '1', @settings['require_numbers'] %>
      <%= label_tag 'settings[require_numbers]', l(:label_require_numbers) %>
    </p>
    
    <p>
      <%= check_box_tag 'settings[require_special_chars]', '1', @settings['require_special_chars'] %>
      <%= label_tag 'settings[require_special_chars]', l(:label_require_special_chars) %>
    </p>
  </fieldset>
  
  <fieldset class="box">
    <legend><%= l(:label_password_restrictions) %></legend>
    
    <p>
      <%= check_box_tag 'settings[prevent_common_passwords]', '1', @settings['prevent_common_passwords'] %>
      <%= label_tag 'settings[prevent_common_passwords]', l(:label_prevent_common_passwords) %>
    </p>
    
    <p>
      <%= check_box_tag 'settings[prevent_sequential_chars]', '1', @settings['prevent_sequential_chars'] %>
      <%= label_tag 'settings[prevent_sequential_chars]', l(:label_prevent_sequential_chars) %>
    </p>
    
    <p>
      <%= check_box_tag 'settings[prevent_keyboard_patterns]', '1', @settings['prevent_keyboard_patterns'] %>
      <%= label_tag 'settings[prevent_keyboard_patterns]', l(:label_prevent_keyboard_patterns) %>
    </p>
    
    <p>
      <%= check_box_tag 'settings[prevent_repetitive_chars]', '1', @settings['prevent_repetitive_chars'] %>
      <%= label_tag 'settings[prevent_repetitive_chars]', l(:label_prevent_repetitive_chars) %>
    </p>
  </fieldset>
</div> 